.roomDetail {
  margin-top: 100px;
}
.roomDetail .roomItem .roomHeading .roomName {
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: 500;
}
.roomDetail .roomItem .roomHeading .locationDetail {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.roomDetail .roomItem .roomHeading .locationDetail .locationFlex {
  align-items: center;
  display: flex;
  font-size: 13px;
}
.roomDetail .roomItem .roomHeading .locationDetail .rateItem {
  font-weight: 500;
}
.roomDetail .roomItem .roomHeading .locationDetail .rateItem span {
  padding-left: 3px;
}
.roomDetail .roomItem .roomHeading .locationDetail .locationIcon {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
}
.roomDetail .roomItem .roomHeading .locationDetail .locationName span {
  margin-left: 78px;
  font-weight: 500;
  font-size: 15px;
}
.roomDetail .roomItem img {
  width: 100%;
  border-radius: 15px;
}