.container {
    margin: 1.25rem auto 0 auto;

    .grid-item {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, minmax(0, 1fr));
        }

        gap: 1.5rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;

        .roomItem {
            text-decoration: none;
            color: black;
            padding: 0px 20px;

            .topItem {
                img {
                    border-radius: 12px;
                    height: 100%;
                    overflow: hidden;
                }
                .btn-heart{
                    position: absolute;
                    top: 0.75rem; 
                    .right-3 {
                        right: 0.75rem; /* Tùy thuộc vào đơn vị bạn muốn sử dụng */
                      }
                      
                      .z-30 {
                        z-index: 30;
                      }
                }
            }

            .btItem {
                .container-bt {
                    .title {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 0.5rem;

                        .nameTitle {
                            color: #FF385C;
                            display: inline-block;
                        }

                        span {
                            color: #FF385C;

                            i {}
                        }
                    }

                    .text-item {
                        color: #718096;
                    }

                    .price {
                        margin-top: 0.25rem;

                        .number-price {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
}