.feedback {
  padding: 30px 0;
}
.feedback .container .flexContent {
  margin-bottom: 10px;
  display: flex;
}
.feedback .container .flexContent .feedbackItem {
  width: 20%;
  display: flex;
}
.feedback .container .flexContent .feedbackItem img {
  width: 90px;
  height: 90px;
}
.feedback .container .flexContent .feedbackItem .feedbackDetail {
  margin: 20px 0px 20px 20px;
  height: 90%;
}
.feedback .container .flexContent .feedbackDesc {
  width: 80%;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.feedback .container .flexContent .feedbackDesc p {
  font-size: 16px;
}
@media screen and (min-width: 330px) and (max-width: 769px) {
  .feedback .container .flexContent {
    margin-bottom: 10px;
    display: block;
    position: relative;
  }
  .feedback .container .flexContent .feedbackItem {
    width: 100%;
  }
  .feedback .container .flexContent .feedbackItem img {
    width: 70px;
    height: 70px;
  }
  .feedback .container .flexContent .feedbackItem .feedbackDetail {
    width: 100%;
    margin: 0px 20px 20px 20px;
    padding: 5px 0px;
    height: 90%;
    display: flex;
    justify-content: space-between;
  }
  .feedback .container .flexContent .feedbackItem .feedbackDetail .dateReview {
    display: none;
  }
  .feedback .container .flexContent .feedbackDesc {
    height: 10px;
    margin-left: 20%;
    position: absolute;
    bottom: 20%;
  }
  .feedback .container .flexContent .feedbackDesc p {
    padding-right: 30px;
  }
}
.feedback .addComment {
  display: flex;
}
.feedback .btnAddComment {
  padding-left: 53px;
}