.formControl {
  position: relative;
  height: 100%;
  width: 100%;
}
.formControl h2 {
  text-align: center;
}
.formControl p {
  margin-top: 8px;
  margin-bottom: 0px;
  border-bottom: 1px solid gray;
}
.formControl .btnClose {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  border-radius: 90px;
  cursor: pointer;
}