.feedback{
  padding: 30px 0;
  .flexContent{
    display: flex;
    line-height: 3;
    .feedbackItem{
      display: flex;
      img{
        ww
      }
      .feedbackDetail{
        margin-left: 15px;
      }
    }
  }
  .addComment{
    display: flex;
  }
  .btnAddComment{
    padding-left: 53px;
  }
}