@charset "UTF-8";
.slickItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
  background-color: #fff; /* Màu nền của slickItem */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hiệu ứng shadow */
  transition: transform 0.3s, box-shadow 0.3s; /* Hiệu ứng hover */
}
.slickItem:hover {
  transform: scale(1.05); /* Hiệu ứng phóng to khi hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Tăng độ đậm của shadow khi hover */
}