.btnFind{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    border: none;
    padding: 0;
    width: 12%;
    height: 100%;
    border-top-right-radius: var(--borderradius);
    border-bottom-right-radius: var(--borderradius);
    color: white;
    cursor: pointer;
    
}
.btnFind:hover{
    
    border: 1px solid black;
}